[tool.poetry]
name = "pyotr"
version = "0.2.0"
description = "Python OpenAPI-to-REST (and back) framework "
authors = ["Berislav Lopac <berislav@lopac.net>"]
license = "MIT"
readme = "README.md"
homepage = "https://pyotr.readthedocs.io"
repository = "https://github.com/berislavlopac/pyotr"

[tool.poetry.dependencies]
python = "^3.7"
openapi-core = "^0.12.0"
pyyaml = "^5.1"
stringcase = "^1.2"
http3 = "^0.6.3"
pytest-cov = "^2.7"
typing-extensions = "^3.7"
uvicorn = "^0.9.0"
mkdocs = "^1.0"
httpx = "^0.7.2"
starlette = "^0.12.9"

[tool.poetry.extras]
uvicorn = ["uvicorn"]

[tool.poetry.dev-dependencies]
mkdocs = "^1.0"
pytest-asyncio = "^0.10.0"
pytest-flake8 = "^1.0"
pytest-mypy = "^0.4.2"
requests = "^2.22"
pytest = "^5.2"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
